[submodule "Overlay/libs/Atmosphere-libs"]
	path = Overlay/libs/Atmosphere-libs
	url = https://github.com/glitched-nx/Atmosphere-libs
[submodule "Overlay/libs/libultrahand"]
	path = Overlay/libs/libultrahand
	url = https://github.com/glitched-nx/libultrahand
